./Frontend/info.txt
./Frontend/node_modules
./Frontend/package-lock.json
./Frontend/package.json
./Frontend/jsconfig.json
./Frontend/.env


./Backend/.env
./Backend/node_modules
./Backend/package-lock.json
./Backend/package.json
./Backend/jsconfig.json
./Backend/info.txt
./Backend/dist
./Backend/src/config/config.js